@charset "utf-8";

.form{
  width:700px;
}
.form > input{
  width:80%;
  height:40px;
  border:none;
  border-bottom:1px solid rgb(194, 220, 148);
  font-size: 1rem;
  outline: none;
}
.form > button{
  width:15%;
  padding-top:0.5rem;
  padding-left:1rem;
  padding-right:1rem;
  padding-bottom:0.5rem;
  margin-left:1rem;
  color:#fff;
  background: rgb(194, 220, 148);
  border:none;
  border-radius: 5px;
}
.form > button:hover{
  color:rgb(194, 220, 148);
  background: #fff;
  border: 1px solid rgb(194, 220, 148);
}